* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

body{
    font-family: "Red Hat Text", sans-serif;
    
}

.main-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha caso o espaço acabe */
    justify-content: center; /* Centraliza os itens no eixo horizontal */
    gap: 20px; /* Espaçamento entre os itens */
}

.post-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    gap: 15px;
    border-radius: 8px;

    -webkit-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.3);

  }

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.post-information {
    text-align: center;
    font-size: 16px
}

.post-bottom {
    text-align: center;
}

.post-bottom button {
    cursor: pointer;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    border: 1px 1px 1px 1px;
    padding: 8px 10px;
    border-color: hsl(14, 86%, 42%);
    border-radius: 28px;   
}