* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  $primary: hsl(14, 86%, 42%);
  $rose-400: hsl(7, 20%, 60%);
  $rose-900: hsl(14, 65%, 9%);
  $rose-100: hsl(13, 31%, 94%);
  $rose-50: hsl(20, 50%, 98%); 
  $foot: hsl(228, 45%, 44%); 

body{
    font-family: "Red Hat Text", sans-serif;
    color: $rose-400;
    background-color: $rose-100;
    
}

h1{
    color: $rose-900;
    font-weight: 600;
}


.main-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha caso o espaço acabe */
    justify-content: center; /* Centraliza os itens no eixo horizontal */
    gap: 15px; /* Espaçamento entre os itens */
}

.post-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px;
    border-radius: 8px;

    -webkit-box-shadow: 10px 10px 29px 0px $rose-400;
    -moz-box-shadow: 10px 10px 29px 0px $rose-400;
    box-shadow: 10px 10px 29px 0px $rose-400;

  }
  

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    // border: 1px solid $primary;
    
}

.post-information {
    white-space: pre-line;
    text-align: center;
    font-size: 16px;
}

.value{
    font-weight: 600;
    color: $primary;
}

.name {
    font-weight: 600;
    color: $rose-900;
}

.post-bottom {
    text-align: center;
    
}

.post-bottom button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    border: 1px solid $primary;
    padding: 5px 15px;
    border-radius: 16px;   
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; }
    
.attribution a { 
    color: $foot; 
}


